.css .active,
.css li a:hover, .css .dropdown:hover .css .dropbtn,
.option-box .color-option ul li,
.option-box .gear-check,
#toggle:hover,
.css li a:hover,
#search:hover,
#navDemo a:hover,
.contact-us button
{
    background-color: blue
}
.css .danger,
.list ul li
{
  border: 3px solid blue;
}
#navDrop
{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue
}
.control
{
	
    border-color: blue;

}
.footer .copyright span
{
    color: blue
}