* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Tahoma;
	background-color: #333;
	background-position: left;
	margin: 0;
	background: url('Cars-Desktop-Wallpaper.jpg');
	background-size: contain;
}

ul {
	list-style: none
}

.clearfix {
	clear: both
}

.option-box {
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 9999
}

.option-box .color-option {
	float: left;
	background: #333;
	color: #FFF;
	padding: 10px;
	width: 200px;
	display: none
}

.option-box .color-option ul li {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 3px
}

.option-box .gear-check {
	padding: 5px;
	color: #FFF;
	cursor: pointer
}

.css {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999
}

#toggle {
	background-color: #333;
	color: #FFF;
	float: right
}

.css ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 0;
}

.css li {
	float: left;
	border-right: 1px solid #BBB;
}

.css li a {
	display: block;
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.css .dropbtn {
	display: inline-block;
	color: #FFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.css li.dropdown {
	position: relative;
	display: inline-block;
}

.css .dropdown-content {
	position: fixed;
	display: none;
	background-color: #333;
	color: #FFF;
	min-width: 160px;
	text-align: left;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.css .dropdown-content a {
	color: #FFF;
	padding: 12px 16px;
	text-decoration: none;
	text-align: left;
	display: block;
	-webkit-transition: padding 0.7s ease;
	-moz-transition: padding 0.7s ease;
	-O-transition: padding 0.7s ease;
	transition: padding 0.7s ease;
}

.css .dropdown:hover .dropdown-content {
	display: block;
}

#search {
	float: right;
	color: #FFF;
	cursor: pointer
}

#navDemo {
	background-color: #333;
	color: #FFF;
	z-index: 9999;
}

#navDemo a {
	text-decoration: none;
}

.parent {
	height: 100vh;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 150px;
	margin: 10px;
	margin-left: 330px;
	margin-top: 70px;
	margin-bottom: 30px;
}

.parent .child {
	padding: 30px;
	margin: 30px
}

.parent .child h2 {
	padding: 10px;
	text-align: center;
	color: #fff;
}

form {
	padding: 20px;
	margin: 20px;
	border-radius: 6px;
	background-color: transparent;
}

.inputbox {
	position: relative;
	margin: 10px 0 30px;
	width: 310px;
	border-bottom: 2px solid #fff;
}

.inputbox input {
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0;
	color: #fff;
}

.forget {
	margin: -15px 0 30px;
	font-size: .9em;
	color: #fff;
	display: flex;
	justify-content: center;
}

.forget label input {
	margin-right: 3px
}

.forget label a {
	color: #fff;
	text-decoration: none;
}

.forget label a:hover {
	text-decoration: underline;

}

button {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
	color: #fff;
}

.log-in {
	font-size: .9em;
	color: #fff;
	text-align: center;
	margin: 15px 0 20px;
}

.log-in p a {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.log-in p a:hover {
	text-decoration: underline;
}

#msg {
	/*visibility:hidden;*/
	/*min-width:250px;*/
	background-color: transparent;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	/*z-index:1;
            right:30%;
            top:30%;
            font-size:17px;
            margin-right:30px;*/
}

.footer {
	background: #111;
	color: #AAA;
	padding-top: 10px;
}

.footer a {
	color: #AAA
}

.footer a:hover {
	color: #FFF
}

.footer th {
	text-align: left;
	letter-spacing: 1px;
	margin: 30px 0 20px;
	cursor: pointer;
}

.footer td {
	padding: 5px 0;
	cursor: pointer;
}

.footer .social {
	overflow: hidden;
	margin: 20px 0 10px
}

.footer .social li {
	float: left;
	position: 50%;
	margin: 5px 110px;
	opacity: 0.7;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.footer .social li:hover {
	opacity: 1
}

.footer .copyright {
	background: #333;
	color: #AAA;
	padding: 15px 0;
	margin-top: 30px;
	font-size: 18px;
	text-align: center;
}

#scroll_top {
	font-size: 50px;
	width: 60px;
	height: 50px;
	color: #111;
	background-color: #FFF;
	text-align: center;
	position: fixed;
	border-radius: 50%;
	right: 15px;
	bottom: 10px;
	margin-bottom: 10px;
	z-index: 9999;
	padding-bottom: 80px;
	cursor: pointer;
	display: none
}
